/* styles/bitdisplay.module.css */
.textInput {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.textInput:focus {
    border-color: #0070f3;
    outline: none;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.checkbox {
    margin-right: 10px;
    transform: scale(1.2);
}

.button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button:hover {
    background-color: #005bb5;
}

.resultContainer {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.resultText {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
    font-weight: 600;

}
.result-container p {
    margin: 0;
    font-weight: 600;
    color: #0070f3;
}


/* Bit Display */
.bitDisplayContainer {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bitSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bitLabel {
    font-weight: bold;
    color: #333;
}

.bitValue {
    font-family: 'Courier New', Courier, monospace;
    color: #0070f3;
}

.secondaryDataContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fafafa;
}

.secondaryDataSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.secondaryDataLabel {
    color: #666;
    font-size: 14px;
}

.secondaryDataValue {
    color: #555;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.error {
    color: red;
    font-weight: bold;
}

.bit-display {
    display: flex;
    margin-top: 10px;
}

.bit {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.sign-bit {
    color: #ff6666;
}

.exponent-bit {
    color: #66b3ff;
}

.mantissa-bit {
    color: #99ff99;
}
